.popup__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    animation-name: fade-container;
    animation-duration: .2s;
    
    .popup {
        width: 60%;
        height: 50%;
        background-color: #fff;
        border-radius: 15px;
        padding: 15px;
        animation-name: fade-popup;
        animation-duration: .5s;

        .popup_content_wrapper {
            overflow-y: auto;
            height: 100%;
        }

        .popup__heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                border-radius: 50%;
                padding: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .2s;
            }

            div:hover {
                background-color: #dedede;
            }
        }

        .content {
            margin-top: 20px;

            p {
                margin-top: 10px;
            }
        }
    }
}

@keyframes fade-container {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fade-popup {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 991px) {
    .popup__container {
        .popup {
            width: 70%;
            height: 60%;

            h1 {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .popup__container {
        .popup {
            width: 80%;
            height: 70%;

            h1 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 450px) {
    .popup__container {
        .popup {
            width: 90%;

            h1 {
                font-size: 1.4rem;
            }

            h2 {
                font-size: .9rem;
            }
        }
    }
}