.container {
    width: fit-content;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333333;

        .story__wrapper {
            width: 580px;
            min-height: 1031px;
            background-repeat: no-repeat;
            background-origin: border-box;
            background-position: center;
            background-size: 100%;

            // img {
            //     width: 100%;
            // }
        }

        div {
            max-height: 100vh;
        }
    }
}

@media (min-height: 658px) {
    .container {
        .wrapper {
            .story__wrapper {
                background-size: 122%;
            }
        }
    }
}

@media (min-height: 895px) {
    .container {
        .wrapper {
            .story__wrapper {
                background-size: 128%;
            }
        }
    }
}

@media (min-width: 1000px) {
    .container {
        .wrapper {
            .story__wrapper {
                background-size: 100%;
            }
        }
    }
}

@media (max-width: 460px) {
    .container {
        .wrapper {
            .story__wrapper {
                width: 100vh;
                height: 100vh;
            }
        }
    }
}

.seeMore__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .seeMoreCollapsed {
        border: none;
        outline: none;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 40px;
        margin: 25px auto;
        color: #ebebeb;
        background: #333333;
        text-align: center;
        transition: .3s all;
        transform: translateY(-20px);
        animation-name: button;
        animation-duration: .7s;
        opacity: 1;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;

        &.link {
            animation-name: link;
            margin: 0 0 15px 0;
        }

        &.otherButton2 {
            animation-name: otherButton2;
            margin: 0 0 20px 0;
            transform: translateY(-100px);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a>* {
            margin: 0 10px;
        }
    }

    .seeMoreCollapsed:hover .default {
        background: #000;
    }

    .seeMoreCollapsed:hover {
        filter: brightness(0.8);
    }
}

@media (min-width: 1800px) {
    .seeMore__wrapper {
        .seeMoreCollapsed {
            border-radius: 10px;
            width: 60%;
            height: 70px;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 350px) {
    .seeMore__wrapper {
        .seeMoreCollapsed {
            border-radius: 8px;
            width: 60%;
            height: 40px;
            font-size: 1rem;
        }
    }
}

@keyframes button {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes link {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes otherButton2 {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-120px);
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}