.container {
    height: fit-content;

    .wrapper {
        width: fit-content;
        display: flex;

        img {
            height: calc(100% - 10px);
        }
    }
}

.seeMore__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .seeMoreCollapsed {
        border: none;
        outline: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin: 50px auto;
        color: #ebebeb;
        background: #333333;
        text-align: center;
        transition: .3s;
        transform: translateY(-20px);
        animation-name: button;
        animation-duration: .7s;
        opacity: 1;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;

        &.inst {
            background: #d83364;
        }

        &.fb {
            background: #1673ea;
        }

        &.wp {
            background: #48c857;
        }

        &.tg {
            background: #27a3e1;
        }

        &.vb {
            background: #7d539f;
        }

        &.otherButton {
            animation-name: otherButton;
            margin: 0 0 15px 0;
        }

        &.otherButton2 {
            animation-name: otherButton2;
            margin: 0 0 20px 0;
            transform: translateY(-120px);
        }
    }

    .seeMoreCollapsed > * {
        margin: 0 10px;
    }

    .seeMoreCollapsed:hover {
        background: #030303;

        &.inst {
            background: #8b2141;
        }

        &.fb {
            background: #1053aa;
        }

        &.wp {
            background: #338d3e;
        }

        &.tg {
            background: #1c74a0;
        }

        &.vb {
            background: #4c3361;
        }
    }
}

@keyframes button {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes otherButton {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes otherButton2 {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-120px);
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}