.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: calc(100% - 10px);
        }
    }
}

.seeMore__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .seeMoreCollapsed {
        border: none;
        outline: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        margin: 50px auto;
        color: #ebebeb;
        background: #333333;
        text-align: center;
        transition: .3s all;
        transform: translateY(-20px);
        animation-name: button;
        animation-duration: .7s;
        opacity: 1;
        font-size: 1.2rem;
        user-select: none;
        cursor: pointer;

        &.otherButton {
            animation-name: otherButton;
            margin: 0 0 15px 0;
        }

        &.otherButton2 {
            animation-name: otherButton2;
            margin: 0 0 20px 0;
            transform: translateY(-100px);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a>* {
            margin: 0 10px;
        }
    }

    .seeMoreCollapsed:hover {
        filter: brightness(0.8);
    }
}

@keyframes button {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes otherButton {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes otherButton2 {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(-120px);
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}