.form__wrapper {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323234;

    .form__container {
        animation-name: fade;
        animation-duration: 1s;
        transform: translateY(20px);
        width: 85%;
        border: 1px solid #000;
        border-radius: 15px;
        padding: 15px 10px;
        background: #fff;
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
            margin-bottom: 10px;
            font-size: 1.4rem;
        }

        input,
        button {
            border: 1px solid #9e9e9e85;
            user-select: none;
            outline: none;
            height: 40px;
            border-radius: 15px;
            font-size: 1.1rem;
            background: rgba(196, 196, 196, 0.5);
            margin-top: 10px;
        }

        input {
            padding: 15px;
            width: 100%;
            color: #323234;
        }

        button {
            width: 60%;
            border-radius: 7px;
            backdrop-filter: blur(5px);
            transition: .2s;
            background: #333333;
            color: #ebebeb;
            cursor: pointer;
        }

        button:disabled {
            pointer-events: none;
        }

        button:hover {
            background: #000;
        }

        div {
            width: 100%;
        }

        p {
            color: #c02525;
            margin-top: -8px;
            margin-left: 5px;
            font-size: .9rem;
        }

    }

    .finish__container {
        animation-name: fade__finish;
        animation-duration: 1s;
        transform: translateY(-30px);
        width: 85%;
        border-radius: 15px;
        padding: 15px 10px;
        background: rgba(196, 196, 196, 0.5);
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(20px);
    }
}

@keyframes fade__finish {
    from {
        opacity: 0;
        transform: translateY(-80px);
    }

    to {
        opacity: 1;
        transform: translateY(-30px);
    }
}

$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
    left: 5px;
    top: -10px;
    font-size: 15px;
    color: $main-color;
}

.group {
    width: 100%;
    position: relative;

    .form-input {
        background: none;
        background-color: white;
        color: $sub-color;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $sub-color;
        margin: 15px 0;

        &:focus {
            outline: none;
        }

        &:focus~.form-input-label {
            @include shrinkLabel();
        }
    }

    input[type='password'] {
        letter-spacing: 0.3em;
    }

    .form-input-label {
        color: $sub-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 20px;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
        }
    }
}

@media (max-width: 410px) {
    .form__container {
        top: 50px;
    }

    @keyframes fade {
        from {
            opacity: 0;
            top: 10px;
        }

        to {
            opacity: 1;
            top: 50px;
        }
    }
}